
@import "~swiper/css";
@import "~swiper/css/effect-cards";
body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  width: 260px;
  height: 380px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide {
  background-color: #D31145;
}

