
@import "~swiper/css";
@import "~swiper/css/effect-cards";


body {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.aialogo {
  position: absolute;
  top: 18px;
  left: 18px;
}

.description {
  color: #cc5b5b;
  font-size: 0.7em;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blurry-text {
   text-shadow: 0 0 32px white;
   color: transparent;
}

.swiper {
  width: 260px;
  height: 380px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-weight: bold;
  color: rgb(232, 232, 232);
}

.swiper-slide {
  background-color: #D31145;
}

